body {
    padding: 0;
    margin: 0;
}

#container {
    height: 100vh;
}

#container > img {
    position: fixed;
}

.sticker {
    cursor: pointer;
}

.sticker:active {
    transform: scale(1.1);
}