* {
    padding: 0;
    margin: 0;
    cursor: url('./assets/tweezer.png'), auto;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; 
}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin: -30px 0 10px;
}

#game {
    display: grid;
    grid-template:
    "body symptoms" 200px
    "body container" 500px / 500px 520px;
}

#body {
    grid-area: body;
    background-color: peachpuff;
}

#symptoms {
    grid-area: symptoms;
    background-color: lightskyblue;
}

#container {
    grid-area: container;
    background-color: lightgrey;
}

#container > img {
    position: fixed;
}

.sticker:active {
    transform: scale(1.1);
    cursor: url('./assets/tweezer2.webp'), auto;

}

#body > img {
    object-fit: contain;
    width: 500px;
}