* {
    padding: 0;
    margin: 0;
    cursor: url('./assets/tweezer.png'), auto;
}

#container {
    height: 400px;
    width: 400px;
    background-color: pink;
    margin: 100px;
}

#container > img {
    position: fixed;
}

.sticker:active {
    transform: scale(1.1);
    cursor: url('./assets/tweezer2.webp'), auto;

}